:root {
    --light-gray: #757575;
    --dark-gray-100: #212121;
    --blue: #2196f3;
    --blue-gray: #afb1b8;
    --white: #fff;
    --dark-gray-200: #2f303a;
    --star-white: #f5f4fa;
    --white-link: #ffffff99;

    --primary-text-color: var(--light-gray);
    --title-text-color: var(--dark-gray-100);
    --accent-color: var(--blue);
    --title-accent-color: var(--blue-gray);
    --primary-background-color: var(--white);
    --secondary-background-color: var(--dark-gray-200);
    --title-background-color: var(--star-white);
}