.footer {
    position: relative;
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;

    color: var(--title-text-color);
}

.contact .mail {
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}
.contact .tel {
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}

.contact__icon {
    fill: currentColor;
    margin-right: 10px;
}

.contact__icon {
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.adds {
    margin-right: 70px;
}

.adds-like {
    font-style: normal;
}
.adds-like__tittle {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;

    white-space: nowrap;

    color: var(--white);
    margin-top: 0;
    margin-bottom: 9px;
}

.contact .contact__mail-down {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;

    margin-top: 0;
    margin-bottom: 9px;
    color: var(--white-link);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.plea {
    margin-right: 93px;
}

.plea__title {
    text-transform: uppercase;
    color: var(--white);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 20px;
}

.input__tittle {
    display: block;
    text-align: center;
    justify-content: center;

    width: 219px;
    height: 16px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white);
}
