.contact__link {
    @extend %flex;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__list {
    display: flex;
}

.contact__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}
