.feature__list {
    display: flex;
}

.feature {
    padding-top: 94px;
}

.feature__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
    flex-basis: 270px;
}

.feature__thumb {
    @extend %flex;
    width: 100%;
    height: 120px;
    background-color: var(--title-background-color);
    border-radius: 4px;

    justify-content: center;

    margin-bottom: 30px;
}

.features__subtitle {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 10px;
}
.features__info {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    letter-spacing: 0.03em;
}
