.social {
	display: flex;
	align-items: center;
	justify-content: center;
	.social-list__link {
		&:hover {
			background-color: var(--accent-color);
		}
		&:focus {
			background-color: var(--accent-color);
		}
	}
}
.social-list {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
.social-list__link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
	fill: var(--white);
}
.social-team {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-team__list {
	&:not(:last-child) {
		margin-right: 10px;
	}
	display: flex;
	.social-team__link {
		.social-team__icon {
			fill: var(--title-accent-color);
			transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		&:hover {
			.social-team__icon {
				fill: var(--white);
			}
			background-color: var(--accent-color);
		}
		&:focus {
			.social-team__icon {
				fill: var(--white);
			}
			background-color: var(--accent-color);
		}
	}
}
.social-team__link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
