*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}
.button {
    cursor: pointer;
    outline: none;
    border: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section{
    .no-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

svg {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
}